.background{
    width: 100%;
    height: 100%;
    background-color: #efefef;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.5rem;
}

.mainHome{
    width: 100%;
    height: 100%;
    padding-bottom: 8rem;
    display: flex;
    margin: 0 auto;

}

.mainImage{
    width: 650px;
    height: 650px;
    margin: 6rem 0 0 20rem;
    margin-top: 3%;
    margin-right: 6%;
    background-image: url('../../public/img/main.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.titleDrawWrite{
    color: #FF4D67;
    margin-left: 30%;
    margin-top: 11rem;
    position: relative;
    font-family: Poppins;
    font-weight: bold;
    text-align: left;
    font-size: 7rem;
    text-shadow: 7px 7px 0px #FFFFFF;

    line-height: 3rem;
}

.color{
    color:#000000;
    margin: -1.2rem 0rem 0rem 15rem;
}
.pictureBack{
    background: linear-gradient(60deg, #FF4D67, #efefef);
}
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.titlePicWhatYou{
    width: 42.75rem;
    height: 5.688rem;
    top: 16.3rem;
    left: 11.375rem;
    font-family: 'PT Serif', serif;
    font-size: 4.375rem;
    font-weight: normal;
    text-align: left;
    color: #000;
    margin-left: 5%;
    position: absolute;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
.howWorks{
    font-weight:600;
    font-size: 2rem;
    margin-left: 8%;
    margin-top: 0rem;
    color: #000000;
    font-family: 'PT Serif', serif;
    text-align: left;
    padding-bottom: 3rem;
    position:absolute;
    z-index: 1;
    top: 52rem;
    left: 2rem;
}

.ellipse1{
    width: 25rem;
    height: 25rem;
    left: -200px;
    position: fixed;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 0;
  }

.ellipse2{
    width: 10rem;
    height: 10rem;
    margin: 40rem 15rem 0 52rem;
    border-radius: 50%;
    background-color: #ffffff;
    position: fixed;
}

.ellipse3{
    width: 2.3rem;
    height: 2.3rem;
    margin: 6rem 15rem 0 49rem;
    border-radius: 50%;
    background-color: #ccc;
    position: fixed;

}

.explain{
    width: 29.563rem;
    height: 3.25rem;
    margin-left: 49%;
    margin-top: 0rem;
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: normal;
    color: #000;
    text-align: right;

    position: relative;
}

.imageResize{
    width: 70%;
    height: 50%;
    border-radius: 40%;
}

.slide-resizer{
    margin: 0 auto;
    filter: drop-shadow(10px 10px 10px rgb(117, 117, 117));
    width: 65%;
}