.background{
    width: 100%;
    height: 45rem;
    background-color: #373737;
}
.mainHome{
    width: 100%;
    height: 15rem;
    justify-content: center;
}
.title{
    z-index: 0;
    position:relative;
    overflow: hidden;
    margin-top: -80rem;
    height: 45rem;
}
.mainImage{
    width: 40rem;
    height: 53rem;
    margin-top: 30rem;
    margin-left: 38%;
    background-repeat: no-repeat;
    transform: scale(1.5);
    position: relative;
    z-index: 1;
    background-image: url('../../public/img/simpson.png');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.drawTitle{
    width: 82rem;
    height: 33rem;
    margin: 0 auto;   
    font-family: Roboto;
    font-size: 10.8rem;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 18px;
    text-align: left;
    color: #373737;
    margin-top: 0rem;
    line-height: 120px;
    -webkit-text-stroke: 3px white;
    text-shadow: 10px 10px 0px #FED41D;
}
.drawColor{
    color:#ffffff;
    -webkit-text-stroke: 3px #ffffff;
    width: 30rem;
    text-shadow: none;
    letter-spacing: 8px;
    font-size: 9rem;
}
.writeTitle{
    color:#ffffff;
    font-size: 3.5rem;
    letter-spacing: 3px;
    width: 31rem;
    height: 4.5rem;
    margin: 2rem 0 0 51rem;
    line-height: 6rem;
    text-shadow: none;
}
.theTitle{
    font-size: 4.25rem;
    font-weight: bold;
    width: 29.144rem;
    text-align: right;
    text-shadow: none;
}

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.koeanTitle{
    color:#FED41D;
    font-family: Jua;
    text-align: right;
    margin-top: 0rem;
    float: right;   
}

.mainCol{
    width: 82rem;
    height: 8rem;
    margin: 0 auto;
}
.drawBut{
    width: 18rem;
    margin-top: -2rem;
    margin-left: 60rem;
}

.second{
    width: 82rem;
    height: 35rem;
    margin: 0 auto;
}
.aboutUs{
    width: 13rem;
    height: 3.375rem;
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-top: 5rem
}
.engExpalin{
    font-family: roboto;
}
.explainUs{
    width: 18rem;
    margin-right: 63%;
    line-height: 23px;
    float: left;
    font-family: Poppins;
    font-weight: 600;
}
.gitButton{
    margin-top: 2rem;
}
.made{
    float: right;
    margin-top: 3rem;
    text-align: right;
    font-size: 1rem;
    font-weight:normal;
    white-space: normal;
    font-family: Jua;
    white-space:normal;
    line-height: 1rem;
}


.third{
    margin: 0 auto;
    width: 100%;
    background-color:#efefef;
    z-index: 2;
    position: absolute;
}
.howWorks{
    font-weight:600;
    font-size: 3.25rem;
    color: #000000;
    font-family: Roboto;
    z-index: 1;
    padding: 1rem;
    text-align: center;
    text-shadow: 3px 3px 0px #FED41D;
}
.slide-resizer{
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px rgb(117, 117, 117));
    width: 70%;
    z-index: 3;
}

.fourth{
    width: 82rem;
    margin: 0 auto;
    margin-top: 50%;
    background-color:#ffffff;
}
.space{
    width: 30rem;
    height: 5rem;
}